.App {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  
  height: 100vh;
}


.App-header {
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.color-nav{
  background-color: #0099CC;
}
.nav_link{
  margin-left: 560px;
}
.d-flex{
  margin-right: 26vw;
}

/* Home */
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
  padding-top: 100px;

}
.nameText{
  margin-top: 30px;
}